bs4==0.0.2
cron-descriptor==1.4.5
dbt==1.0.0.37.11
dbt-bigquery==1.6.4
dbt-metricflow==0.3.0
dlt==1.2.0
gtfs-realtime-bindings==1.0.0
importlib-resources==6.4.0
ipykernel==6.25.2
jaraco.collections==5.1.0
msgpack==1.0.5
oscrypto==1.3.0
pipdeptree==2.9.6
pycryptodomex==3.17
python-whois==0.9.4
ruamel.yaml==0.17.32
snowflake-sqlalchemy==1.4.7
tomli==2.0.1
whois==1.20240129.2
dlt[snowflake]>=1.2.0